config/.storage/auth
config/secrets.yaml
config/home-assistant.log
config/home-assistant*
config/.storage/
config/storage_backup
config/.*
config/custom_components/hacs/*
config/ip_bans.yaml
config/secrets.yaml
config/known_devices.yaml
config/zone.yaml

testconfig.sh
curlup.txt
__*__
__*__/
